*{
  margin:0;
  padding:0;
}
.cookie-img{
  background-image:url(cookie-img.jpg);
  background-repeat:no repeat;
  background-size:cover;
  width:1366px;
  height:598px;
  border-style:none;
  text-align:center;
  z-index:-1;
  }
h1{
  font-size:133px;
  text-align:center;
  color:#000000;
}
a{
  color:#3d291a;
  font-size:20px;
}
#twitter{
  position:relative;
  left:41px;
  top:216px;
  z-index:1;
}
#pixiv{
  position:relative;
  right:63px;
  top:154px;
  z-index:100;
}
#youtube{
  position:relative;
  left:492px;
  top:95px;
}
#yu-tyura{
  position:relative;
  left:494px;
  top:105px;
  z-index:100;
}
#cookieclicker{
  position:relative;
  right:67px;
  top:250px;
  z-index:10;
}
#crocodile{
  position:relative;
  left:317px;
  top:40px;
  z-index:10;
}
#nasyo{
  position:relative;
  right:403px;
  top:183px;
  z-index:100;
}
#redbull{
  position:relative;
  right:395px;
  bottom:25px;
  z-index:10;
}
#github{
  position:relative;
  left:406px;
  top:79px;
}
