*{
  margin:0;
  padding:0;
}
.cookie-img{
  background-image:url(cookie-img.jpg);
  background-repeat:no repeat;
  background-size:cover;
  width:1366px;
  height:598px;
  border-style:none;
  text-align:center;
  }
h1{
  font-size:133px;
  text-align:center;
  color:#000000;
}
a{
  color:#3d291a;
  font-size:20px;
}
#twitter{
  position:relative;
  left:50px;
  top:210px;
}
#pixiv{
  position:relative;
  right:50px;
  top:150px;
}
#youtube{
  position:relative;
  left:250px;
}
#yu-tyura{
  position:relative;
  right:204px;
}
#cookieclicker{
  position:relative;
  left:4px;
}
#crocodile{
  position:relative;
  left:200px;
  top:400;
}
#nasyo{
  position:relative;
  left:49px;
  bottom:10px;
}
#redbull{
  position:relative;
  left:1px;
}
#github{
  position:relative;
  left:240px;
}
