*{
    outline: 2px red solid;
}
*{
  margin:0 0 0 0;
  padding:0 0 0 0;
}
.cookie-img{
  background-image:url(cookie-img.jpg);
  background-repeat:no repeat;
  background-size:cover;
  width:1366px;
  height:598px;
  border-style:none;
  text-align:center;
  }
h1{
  font-size:133px;
  text-align:center;
  color:#000000;
}
a{
  color:#3d291a;
  font-size:20px;
}
#twitter{
  position:relative;
  left:674px;
  top:200px;
  width:100px;
}
#pixiv{
  position:relative;
  left:567px;
  top:160px;
  z-index:10;
  width:100px;
}
#youtube{
  position:relative;
  left:1130px;
  top:95px;
  width:100px;
}
#yu-tyura{
  position:relative;
  left:1132px;
  top:105px;
  z-index:10;
    width:100px;
}
#cookieclicker{
  position:relative;
  left:520px;
  top:242px;
    width:200px;
}
#crocodile{
  position:relative;
  left:950px;
  top:30px;
    width:140px;
}
#github{
  position:relative;
  left:300px;
  top:200px;
    width:100px;
}
